name: Validate

on:
  workflow_dispatch:

  pull_request:
    branches: ['main']

env:
  node_version: 24

jobs:
  Tests:
    name: Check Typescript
    runs-on: ubuntu-latest
    permissions: {}

    strategy:
      matrix:
        mono: [packages, app]

    steps:
    - uses: actions/checkout@v5

    - name: Setup pnpm
      uses: pnpm/action-setup@v4

    - name: Use Node.js ${{ env.node_version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ env.node_version }}
        cache: 'pnpm'

    - name: Install
      run: pnpm install

    - name: Build lib
      if: ${{matrix.mono}} != packages
      run: pnpm packages:build

    - name: Check types
      run: pnpm run ${{ matrix.mono }}:check:types
